@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <!-- Título de la página -->
    <h1 class="display-4">¡Bienvenidos!</h1>

    <!-- Texto adicional -->
    <p>Bienvenidos a nuestra página, esperamos que disfrutes de tu visita</p>

    <!-- Imagen centrada -->
    <img src="~/imagenes/computadora.jpeg" alt="Imagen de bienvenida" style="width: 50%; height: auto;" />
</div>
